<mat-toolbar *ngIf="!logged" color="primary" class="toolbar">
  <img src="../../assets/logo.png" height="50">

  <a [routerLink]="['/home']" >Home</a>

  <a [routerLink]="['/galeria']" >Galeria</a>

  <a [routerLink]="['/agendamento']" >Agendamento</a>

  <a [routerLink]="['/novo-endereco']" >Cadastrar Endereço</a>

  <span class="example-spacer"></span>

  <a [routerLink]="['/login']" >Login</a>
</mat-toolbar>

<mat-toolbar *ngIf="logged" color="primary" class="toolbar">
  <img src="../../assets/logo.png" height="50">

  <a [routerLink]="['/novo-funcionario']" >Cadastrar funcionario</a>

  <a [routerLink]="['/novo-paciente']" >Cadastrar paciente</a>

  <a [routerLink]="['/funcionarios']" >Funcionarios</a>

  <a [routerLink]="['/pacientes']" >Pacientes</a>

  <a [routerLink]="['/enderecos']" >Endereços</a>

  <a [routerLink]="['/agendamento-clientes']" >Agendamentos</a>

  <a *ngIf="getLocalStorage() === 'true'" [routerLink]="['/agendamento-medico']" >Meus agendamentos</a>

  <span class="example-spacer"></span>

  <a [routerLink]="['/home']" (click)="sair()" >Sair</a>

</mat-toolbar>

<div class="all">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <article class="footer">
    <p>Clinica Rejuvenescer</p>
  </article>
  <article class="footer">
    <p>Contato: https://github.com/gabriel-fsantos/tp2.git</p>
  </article>
  <article class="img">
    <img src="../../assets/rodape.jpg" class="img" >
  </article> 
</footer>
