<!DOCTYPE html>
<html>
<body>

	<!-- Navegador -->

	<section>
		
            <!-- Textos -->
            <div class="conteudo-texto">
            	<p>Bem vindos</p>
            	<p>Home Page</p>
            	<p>Clinica <br>  &emsp;Rejuvenescer</p>
            	
            </div>

	</section>



    <!-- Conteúods -->

    <div class="conteudo-sobre">
    	
    	<img src="../../assets/futuro.jpg">

    	<div class="texto-sobre">

    		<p>Sobre</p>
    		<p>Somos uma clinica que trabalha com alta tecnologia  </p>

    		<p>A Clínica Médica é a especialidade da Medicina focada no diagnóstico e tratamento clínico das patologias em adultos, ou seja, sem cirurgia.O médico desta especialidade é responsável por avaliar o paciente de maneira completa e está apto a resolver a maioria das enfermidades, além de gerenciar o cuidado do paciente indicando o especialista adequado, caso haja necessidade.</p>
    		<p>
    			A Rede Rejuvenescer de Saúde coloca à disposição dos clientes, 24 horas por dia, clínicos médicos capacitados para o atendimento de urgência e emergência nos Prontos-socorros do  Rejuvenescer Santo Agostinho, do Rejuvenescer Contorno e Rejuvenescer Betim-Contagem. Além disso, a Rede disponibiliza toda a estrutura necessária para que o diagnóstico seja feito da maneira mais rápida e eficaz possível.
    		</p>

    	</div>
    </div>


    <!-- Serviços -->

    <div class="servicos">

        <div class="servicos-textos">

            <p>Serviços</p>
            <p>Como podemos lhe ajudar</p>
            <p>O Rejuvenescer Betim-Contagem disponibiliza aos pacientes o Ambulatório de Clínica Médica, com atendimentos particulares ou via convênios. Veja os dias e horários específicos e saiba como marcar consulta.</p>
            
        </div>

        <div class="conteudo-box">


            <div class="box1">
                <span>1</span>

                <p class="headid">Belo Horizonte</p>

                <p class="detalhes">
                           Belo Horizonte, Contagem e Betim
                          <br>
                          Nosso maior polo se encontra em Belo Horizonte e região</p>

                          <button>Saiba mais</button>
            

            </div>

            <div class="box2">
                <span>2</span>

                <p class="headid">Sao Paulo</p>

                <p class="detalhes">
                           Sao Paulo e Sao Jose do Rio Preto
                          <br>
                          Temos tambem dois polos em São Paulo, sendo um na propria metropole e outro localizado em São Jose do Rio Preto</p>

                          <button>Saiba mais</button>
            

            </div>

            <div class="box3">
                <span>3</span>

                <p class="headid">Rio de Janeiro</p>

                <p class="detalhes">
                           Com uma otima localização
                          <br>
                            No Rio de Janeiro temos apenas um polo mas não é por isso que deixamos de caprichar na localização, clique e saiba mais.</p>
                          <button>Saiba mais</button>
            

            </div>

            <div class="box4">
                <span>4</span>

                <p class="headid">Salvador</p>

                <p class="detalhes">
                           E temos novidades
                          <br>
                          Nesse ano de 2022 acabamos de inaugurar nossa clinica em Salvador</p>

                          <button>Saiba mais</button>
            </div>   
        </div>
    </div>
</body>
</html>