.all {
  padding: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-around;
  align-items: center;
}

.card {
  padding: 16px;
  color: #fff;
  border-radius: 8px;
  background:  #00bcd4;
  margin-top: 8px;
  width: 300px;
}
